mixin sort()
    .card-header Sap xep 
        .card-body 
            .row 
                .col-4
                    div(sort)
                        select(
                            class="form-control"
                            name="sort"
                            sort-select
                        )
                            option(value="position-desc") Vi tri giam dan 
                            option(value="position-asc") Vi tri tang dan 
                            option(value="price-desc") Gia tien giam dan 
                            option(value="price-asc") Gia tien tang dan
                            option(value="title-asc") Tieu de tu A - Z 
                            option(value="title-desc") Tieu de tu Z - A 
                        button(class = "btn btn-danger mt-2" sort-clear) clear      